body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #f8e0ff, #eaeaea);
  color: #1e1e1e;
  font-family: "Lato", sans-serif;
}

h2 {
  margin: 50px 0;
}

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 700px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(72, 72, 72, 0.4);
  border-radius: 3px;
  transition: 0.2s;
  margin-bottom: 40px;
}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(5, 5, 5, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-message {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-button {
  flex-shrink: 0;
  background-color: #ec4b4b;
  border: 1px solid rgba(54, 54, 54, 0.1);
  border-radius: 13px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 550;
  text-transform: uppercase;
  color: white;
  width: 270px;
  height: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.file-button:hover {
  background-color: #bf1111;
}

.file-drop-area-hover:hover {
  background-color: rgb(224, 188, 188);
}
